.idea/
_build/
.DS_Store
ethics-application/
.ipynb_checkpoints/
*.ipynb
presentations/
.Rproj.user/
.Rhistory
data/
venv/

# Storage for misc docs I don't want to commit (e.g abstracts/bios)
misc_docs/
