
/* Timeline CSS adapted from Chris Holdgraf's blog: https://github.com/choldgraf/choldgraf.github.io/ */
div.timeline div.card {
    border: 0px;
}

div.timeline div.left {
    border-right: 1px solid black;
}

div.timeline div.entry::after {
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    content: "";
    top: 1em;
    display: block;
    position: absolute;
    border: 1px black solid;
    z-index: 999;
}

div.timeline div.entry.left::after {
    right: -.5em;
}

div.timeline div.entry.right::after {
    left: -.5em;
}

.sd-card-img-top {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.sd-card-title {
    text-align: center;
}

html[data-theme="light"] {
    --sd-color-card-background: #ffc404;
    --pst-color-primary: #385f3e;
    --pst-color-secondary: #ff5c3b;
}

html[data-theme="dark"] {
    --pst-color-primary: white;
    --pst-color-primary: #385f3e;
    --pst-color-secondary: #ff5c3b;
}